<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>


<div class="container">
    <h2>Login</h2>

    <form method="POST">
        <label>Email:</label>
        <input type="email" name="email" required>

        <label>Password:</label>
        <input type="password" name="password" required>

        <button type="submit">Login</button>

        <p style="color: white;">Don't have an account? <a href="/signup">Sign Up</a></p>
    </form>
</div>
<script>
    const btn = document.getElementById("themeToggle");

    btn.onclick = () => {
        document.body.classList.toggle("dark");
        document.body.classList.toggle("light");
    };
</script>


</body>
</html>